tr {
  cursor: pointer;
}

.nav-active {
  background-color: #0d4a8f;
}

.table-wrapper {
  white-space: nowrap;
  overflow: hidden;
}

.table {
  float: left;
  padding: 0 0.75rem;
}

.table-details {
  display: inline-block;
  padding: 0 0.75rem;
  width: 50%;
}
